
<%# first row %>
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center"><span class="teal-text">Our Delicious</span> Cakes</h4>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake1.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake3.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake4.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <%# second row %>

  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake5.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake6.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <%# third row %>

  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center"><span class="teal-text">Delicious</span> Pasteries</h4>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake8.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake7.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake9.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Chocolate Chip<i class="material-icons right">more_vert</i></span>
              <p><a href="#">details here</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col s12 center">
            <a href="#contact" class="btn btn-large grey darken-3">
              <i class="material-icons left">send</i>Subscribe to catalog
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>