<div class="row email-thanks">
  <div class="col s12 m12">
    <p class="thanks">Thank you <%= @name.capitalize + " " %>for subscribing. <br>
     Your catalog will be emailed to you shortly</p>
  </div>
</div>