
<section id="my-home" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center"><span class="teal-text">Our Delicious</span> Pastries</h4>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cookies8.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cookies</span>
              <p><a href="#">more</a></p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/cake11.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cakes</span>
              <p><a href="#">more</a></p>
            </div>
          </div> 
        </div>
        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/images/muffins10.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Muffins/ Cupcakes</span>
              <p><a href="#">more</a></p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>

  