body {
  background-image: url(/images/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Marck Script', cursive;
}

#logo {
  height: 10vh;
  width: 10vw;
}

.flow-text {
  font-size: 0.9em !important;
}

.slider {
  height: 460px;
}

.slides {
  height: 800px;
}

.catalog {
  font-size: 1.2em;
}

.thanks {
  padding-top: 30vh;
  font-size: 1.5em;
  text-align: center;
}

.email-thanks {
  height: 100vh;
}